body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(to right, #ebe990, #f6c8e7);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.box {
  width: 50%;
  padding: 22px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(152, 130, 130, 0.1);
  transition: box-shadow 0.3s ease;
}

.box:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

#jsonData,
#responseContainer {
  width: 100%;
  padding: 3px;
  border: 1px solid #d89b9b;
  border-radius: 5px;
  resize: vertical;
  height: 130px; 
  overflow: auto;
}

#jsonData {
  max-height: 350px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  height: 150px;
  max-height: 100%;
}

.key-value {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.key {
  font-weight: bold;
  min-width: 100px;
}

.value {
  flex-grow: 1;
  width: fit-content;
  padding-left: 10px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}
